/*********************************************************************/

/* .box {
  border: solid gray;
  text-align: center;
  margin: 20%;
}

.div1 {
  background: skyblue;
}

.div2 {
  background: orange;
}

.div3 {
  padding: 10%;
} */

/*********************************************************************/

/* .dashboard {
  max-width: 500px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border: solid gray;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  width: 30%;
} */

/*********************************************************************/

.container {
  border: solid black 1px;
  display: grid;
  grid: auto / auto auto auto auto;
}

@media (max-width: 719px) {
  .container {
    grid: auto auto / auto auto;
  }
}

@media (max-width: 359px) {
  .container {
    grid: auto auto auto auto / auto;
  }
}

.container > .container {
  border: none;
}

.item {
  border: solid black 1px;
  box-sizing: border-box;
  text-align: center;
}
